[user]
	name = Corentin Delcourt
	email = codl@codl.fr

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[alias]
	lg = !git --no-pager log --graph --all -10 --pretty=format:'%C(auto)%h%d %s %C(red)%cr%Creset' && echo
	logg = log --oneline --graph --decorate
	pullff = pull --ff-only

[push]
	default = matching

[color]
	ui = auto
[core]
	excludesfile = /home/codl/.gitignore
