'body':
    'ctrl-o': 'advanced-open-file:toggle'

'body':
    'alt-p p': 'project-jump:switch'
    'alt-p alt-p': 'project-jump:switch'
    'alt-p a': 'project-jump:add'
    'alt-p r': 'project-jump:remove'

    'ctrl-shift-W': 'tabs:close-saved-tabs'

'atom-workspace':
    'ctrl-alt-v': 'svg-preview:toggle'

'.platform-linux atom-workspace':
    'ctrl-alt-t': 'open-terminal-here:open'
