packages: [
  "advanced-open-file"
  "build"
  "build-gulp"
  "file-icons"
  "git-time-machine"
  "language-nginx"
  "metrics"
  "open-terminal-here"
  "package-sync"
  "project-jump"
  "project-view"
  "tidy-tabs"
]
