packages: [
  "activate-power-mode"
  "advanced-open-file"
  "build"
  "build-gulp"
  "color-picker"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "language-nginx"
  "linter"
  "markdown-scroll-sync"
  "metrics"
  "minimap"
  "minimap-git-diff"
  "open-terminal-here"
  "package-sync"
  "pigments"
  "project-jump"
  "project-view"
  "svg-preview"
  "tidy-tabs"
]
